.gallery {
    padding: 20px;
    text-align: center;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.images img {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
    border-radius: 10px; /* Optional: for rounded corners on images */
}
