.gallery {
    padding: 20px; /* Adds padding around the entire gallery */
}

.images {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-auto-rows: 220px; 
    gap: 20px;
    padding: 0 40px;
}

.cat-image {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cat-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 
}

.favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ccc;
    font-size: 24px;
    cursor: pointer;
    border: none;
    background: none;
}

.favorite-button.favorited {
    color: red;
}



@media (max-width: 800px) {
    .images {
        grid-template-columns: repeat(3, 1fr); /* Adjusts to three columns for medium screens */
    }
}

@media (max-width: 500px) {
    .images {
        grid-template-columns: repeat(2, 1fr); /* Adjusts to two columns for small screens */
    }
}
